{% include "base.html" %}

{% block body %}
<div class="panel">
    <h1 class="fade-in">
        {% if user_email == 1 %}
            ¡Hola Técnico, {{ nombre }}!
        {% elif user_email == 2 %}
            ¡Hola, {{ nombre }}!
        {% elif user_email == 3 %}
            ¡Hola Administrador, {{ nombre }}!
        {% else %}
            ¡Hola, {{ nombre }}!
        {% endif %}
    </h1>
</div>
{% endblock %}

<style>
    /* Definir la animación de fade-in */
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    /* Aplicar la animación al h1 */
    .fade-in {
        animation: fadeIn 2s ease-out; /* Duración de 2 segundos, efecto de salida suave */
    }
</style>
